@charset "UTF-8";

/* ##### Common ##### */
html,body{height:100%;}
.colorscripter-code-table{width:100%;}
.wrap{background-color:#1d1e22;width:100%;margin:0;}
.header{width:100%;height:60px;text-align:center;background-color:#060606;}
.header a{color:#fff;line-height:60px;font-size:20px;}

/* ##### Main ##### */
#main{height:100%;}
#main .right{background-image:url("../image/main_bg.jpg");}
.bg_area{height:calc(100% - 60px);}
.nav ul{width:100%;}
.nav ul li{text-indent:20px;border-bottom:1px solid #424242;}
.nav ul li:last-child{border-bottom:0;}
.nav ul li.on{border-left:5px solid #d0782a;text-indent:10px;background-color:#3b3d44;}
.nav ul li:hover{background-color:#3b3d44;}
.nav ul li a{width:100%;display:block;line-height:45px;color:#fff;}
.left{width:15%;height:100%;float:left;padding:0;}
.right{width:85%;height:100%;float:right;background:#fff;}

/* ##### Example, Source View ##### */
.cont_wrap{padding:1% 1% 0 1%;box-sizing:border-box;}
.box{border:1px solid #d9d9d9;margin-bottom:5px;}
.box_title{width:100%;text-align:center;font-size:16px;line-height:30px;background:#ddd;}
.box_cont{padding:10px;box-sizing:border-box;}
.box_cont .title{margin:10px 0 5px 0;text-indent:5px;}
.ex_wrap{min-height:300px;}
.source_wrap{}

/* Menu Only CSS */
.menu_css{width:60%;margin:0 auto;}
.menu_css ul{width:100%;height:50px;}
.menu_css ul li{float:left;width:25%;height:100%;text-align:center;background:#42b6e1;border-right:1px solid #8dd5ef;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.menu_css ul li:last-child{border-right:0;}
.menu_css ul li:hover{background:#2e9fc9;}
.menu_css ul li a{display:block;width:100%;line-height:50px;color:#fff;}
.menu_css ul li.sub ul.sub_menu{display:none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.menu_css ul li.sub:hover ul.sub_menu{display:block;}
.menu_css .sub_menu li{width:100%;float:none;background:#2e9fc9;}

/* One Page(+scroll spy) */
.onepage_wrap{width:80%;margin:0 auto;}
.onepage_wrap ul{width:80%;height:50px;position:fixed;top:0;left:50%;margin-left:-40%;}
.onepage_wrap ul li{width:25%;height:100%;float:left;text-align:center;border-right:1px solid #fff;background:#222;box-sizing:border-box;}
.onepage_wrap ul li.on{background:#dd8876;}
.onepage_wrap ul li a{color:#fff;display:block;width:100%;height:100%;line-height:50px;}
.onepage_wrap div{width:100%;}
.onepage_wrap div#iphone{padding-top:50px;}
.onepage_wrap div img{width:100%;}