@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

#product_view div{width:100%;}
#product_view div img{width:100%;}
#product_view .slick-arrow{z-index:10;}
#product_view .slick-arrow:before{content:""; width:22px; height:38px; display:block;}
#product_view .slick-prev{left:10px;}
#product_view .slick-prev:before{background: url('images/banner_prev.png') 0 0 no-repeat;}
#product_view .slick-next{right:10px;}
#product_view .slick-next:before{background: url('images/banner_next.png') 0 0 no-repeat;}
#product_view .slick-dots{bottom:0;  background-color:#ddd; opacity:0.8;}
#product_view .slick-dots li{top:7px;}

.tabs_wrap{width:100%;}
.tabs_title{margin-top:15px;}
.tabs_title span{display:inline-block; padding:2% 0; text-align:center; font-size:12px;}
.tabs_title .tabs_title_num{width:10%; background-color:#f14829; color:#fff;}
.tabs_title .tabs_titlet_text{width:90%; background-color:#333; color:#fff; text-align:left; text-indent:2%}
.tabs_con{padding:4% 5%; box-sizing:border-box; background-color:#fff;}  
.room_type{}