@font-face {
	font-family: 'NotoSansBlack';
	font-weight: normal;
	src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Black.woff) format('woff'),
	url(../fonts/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansBold';
	font-weight: normal;
	src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Bold.woff) format('woff'),
	url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansDemiLight';
	font-weight: normal;
	src: url(../fonts/NotoSansKR-DemiLight.woff2) format('woff2'),
	url(../fonts/NotoSansKR-DemiLight.woff) format('woff'),
	url(../fonts/NotoSansKR-DemiLight.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansMedium';
	font-weight: normal;
	src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Medium.woff) format('woff'),
	url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansRegular';
	font-weight: normal;
	src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Regular.woff) format('woff'),
	url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}