@charset "utf-8";

/*****## 21.03.07 - Leemija ##*****/
/* 상품 갤러리&간단정보 */
#sub_detail{margin-top:30px;}
.product_info_wrap{padding-bottom:30px; border-bottom:1px solid #e3e3e3; margin-bottom:35px;}
.product_info_left{width:500px; float:left;}
.product_img{}
.product_img img{width:500px; height:500px;}
.product_pager{width:500px;}
.product_pager a{display:block; float:left; width:100px !important; height:100px; padding:5px 3px; box-sizing:border-box;}
.product_pager a img{width:100%; height:100%;}
.product_info_left .bx-wrapper{position:relative;}
.product_info_left .bx-wrapper .bx-controls .bx-controls-direction{} 
.product_info_left .bx-wrapper .bx-controls .bx-controls-direction .bx-prev{display:block; width:30px; height:30px; background:url('images/arrow_right.png') 0 0 no-repeat; position:absolute; top:35px; right:10px;} 
.product_info_left .bx-wrapper .bx-controls .bx-controls-direction .bx-next{display:block; width:30px; height:30px; background:url('images/arrow_left.png') 0 0 no-repeat; position:absolute; top:35px; left:10px;}   
.product_info_right{width:470px; float:right;}
.product_address{border-bottom:1px solid #e3e3e3; margin-bottom:30px;}
.product_address span{line-height:30px; font-size:14px;}
.product_address span:first-child{color:#2e64fe;}
.product_address span.bar{margin:0 10px;}
.product_info_detail h2{font-size:24px; margin-bottom:15px;}
.product_info_detail ul{}
.product_info_detail ul li{margin-bottom:20px;}
.product_info_detail ul li::after{content:""; clear:both; display:table;}
.product_info_detail ul li p{width:90px; float:left;}
.product_info_detail ul li p:first-child{font-weight:bold;}
.product_info_detail ul li p:last-child{width:calc(100% - 90px);}
.product_info_detail ul li p span{color:#2e64fe;}
/* Tab */
.tab_style{width:100%;}
.tab_style li{float:left; width:166px; background-color:#f8f8fa; border:1px solid #e3e3e3; box-sizing:border-box; border-right:0;}
.tab_style li:last-child{border-right:1px solid #e3e3e3;}
.tab_style li.active{background-color:#2e64fe; border-color:#2e64fe;}
.tab_style li.active a{color:#fff;}
.tab_style li a{text-align:center; display:block; width:100%; line-height:45px;}
.reserve_step{width:996px; border:2px solid #2e64fe; text-align:center; line-height:50px; box-sizing:border-box; margin:20px 0 15px;}
.reserve_step span{color:#2e64fe;}
.tab_con0_wap{border:1px solid #e3e3e3; box-sizing:border-box;}
.reserve_step_title{width:100%; height:50px; padding:0 25px; box-sizing:border-box; line-height:50px; font-size:16px; background-color:#74afe1; color:#fff;}
.reserve_step_title span{font-size:14px;}
.tab_con0_left{width:497px; float:left;}
.room_info{}
.room_info li{width:100%; line-height:35px; border-bottom:1px solid #e3e3e3; position:relative; text-indent:8px;}
.room_info li.active{background-color:#e2e7eb;}
.room_info li.active label{font-weight:bold;}
.room_info li.active label:after{transform:rotate(45deg); transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.room_info li:hover label{color:#579bdb;}
.room_info li label{font-size:13px;}
.room_info li label:after{width:8px; height:8px; border-right:1px solid #2e64fe; border-bottom:1px solid #2e64fe; position:absolute; top:13px; right:20px; content:""; transform:rotate(-45deg); transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.room_info li .radio{width:0; height:0;}
.room_info input{position:static !important;}
.room_info div{display:none; padding:10px; background-color:#f9f9f9;}
.room_info div p{line-height:25px;}
.tab_con0_right{width:496px; float:right; border-left:1px solid #e3e3e3;} 
.reserve_step02{position:relative;}
.calendar_wrap{position:relative; padding:15px 20px; background-color:#f4f4f4; box-sizing:border-box;}
#calendar .ui-datepicker-header{}
#calendar .ui-datepicker-calendar{margin-top:70px;}